<h1>About</h1>
<p></p>
<p> The ERD consists of two main tables: University and Student</p>
<p> A University can have many students. A student is enrolled in only one University</p>
<%= image_tag("ERD.png", alt: "ERD Diagram")%>
